body { background: #333; }
section {
  max-width: 800px;
  margin: 0 auto;
  font-size: 0;
  background: #000;
}
div#javascript-gallery {
  display: flex;
}
section img {
  width: 100%; height: auto;
}
figure { margin: 0;  }
div#javascript-gallery a {
  flex: 1 1 1%;
  opacity: .3;
  transition: .3s;
}
div#javascript-gallery a:hover, div#javascript-gallery a:focus { opacity: 1; }